/*-----------
--VARIABLES--
-----------*/

:root {
  /*Font*/
  --sans: 'Avenir', Helvetica, Arial, sans-serif;

  /*Colors*/
  --brand-color: #5AB9EA;
  --purple: #8860D0;
  --light-blue: #84CEEB;
  --blue-purple: #5680E9;
  --pink-accent: #c66c8a;
  --red-accent: #FC4445;
  --light-grey: #C1C8E4;
  --shadow-color: rgba(50, 50, 50, .8);

  /*Spacing*/
  --spacing-unit: 30px;
}


/*Resets*/
h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}